body{
    background-color: rgba(255, 115, 0, 0.349);
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align:left; /* alinhar para esquerda sempre */
    padding: 25px;
}
img{
    /* width: 100%; */
    top:0;
}
form{
    background:center;
}
#slide-form{ /*animacao do formulario*/
    animation-duration: 1s;
    animation-name: slidein;

}
@keyframes slidein{
    from{
        margin-top: -100%;
    }
    to{
        margin-top: 1%;
    }
}
span{
    font-size:10px;
    color:white;
    font-weight: 600;
}
.container{
    position: absolute;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    background-position: center;
    background: red;
    color:white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* margin: 2px; */
}
button{
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
    background-color: white;
    outline: none;
    font-weight: 500;
    border-radius: 5px;
    left: 13%;
    top: 50%;
    transform: translate(-45%,-50%);
    margin: 2%;
    
}
button:hover{
    background-color: red; 
    color: white;
    font-weight: bold;
    padding: 5px;
    transition: color 0.3s ease-in-out; 
    cursor: pointer;
}
.login{
    position: relative;
    left: 0%;
    margin-top: 10%;
    margin-bottom: 10%;
}
